.App {
  text-align: center;
}

.first-column{
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.second-column{
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 2em;
}